/target
result
result-lib
dist
.direnv

/assets/tailwind.css

/.vscode/spellright.dict

/.pre-commit-config.yaml

# Go build artifacts
/bin
*.test
*.out
coverage.out
coverage.html
vendor/
result.json
**/result.json
